.ux-flex-none{
    flex: none !important;
}

.uk-card-title > small{
    font-size: 60%;
}
.user-group{
    padding-left: 15px;
}

.user-group > li{
    display: inline;
}
.user-group > li::after,::before{
    content: none;
}

.user-group > li:hover > img{
    transform: scale(1.3);
    cursor: pointer;
    z-index: 10;
}

.user-group > li> img{
    border: 3px  solid white;
    margin-left: -15px;
    position: relative;
}